<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
        integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ=="
        crossorigin="anonymous" />
    <title>Document</title>
</head>

<body>
    {{>navbar}}
    <h1>Product page</h1>
    {{#each products}}
    name: {{this.name}}
    description:{{this.description}}
    stock:{{this.countInNumber}}
    <a href="/product/delete/{{this._id}}">delete</a>
    <a href="/product/update/{{this._id}}">edit</a>
    <br>
    {{/each}}
</body>

</html>